.fs-invert {
  --fs-color--background: var(--fs-color--white-4);
  --fs-color--border: var(--fs-color--white-3);
  --fs-color--text: var(--fs-color--white);
  --fs-color--text-1: var(--fs-color--white-1);
  --fs-color--text-2: var(--fs-color--white-2);
  color: var(--fs-color--text);
}

/*
.fs-invert--interaction {
  --fs-color--interaction: var(--fs-color--text);
  --fs-color--visited: var(--fs-color--text);
}
*/
