/**
 * Basic html styling: images
 */

img,
svg {
  display: block;
  height: auto;
  max-width: var(--fs-max-width--full);
}

svg {
  /*
  Prevents events to be fired unexpectedly on svg with holes
  @see https://www.smashingmagazine.com/2018/05/svg-interaction-pointer-events-property/
  */
  pointer-events: none;
}

img {
  border-radius: var(--fs-border-radius--default);
  box-shadow: var(--fs-shadow--default);
  /* broken image styling */
  color: var(--fs-color--text-2);
  font-size: var(--fs-font-size--sm);
  line-height: var(--fs-line-height--sm);
  text-align: center;
}

figure {
  --fs-figure-space: var(--fs-space--6);
  display: block;
  margin: var(--fs-figure-space) 0;
  max-width: var(--fs-max-width--full);

  @media (--fs-viewport--lg) {
    --fs-figure-space: var(--fs-space--8);
  }
}

figcaption {
  color: var(--fs-color--text-1);
  display: block;
  font-family: var(--fs-font-family--default);
  font-size: var(--fs-font-size--sm);
  line-height: var(--fs-line-height--sm);
  margin-bottom: var(--fs-space--2);
  margin-top: var(--fs-space--2);
  text-align: left;
  width: 100%;
}

figcaption > :first-child {
  margin-top: 0;
}

figcaption > :last-child {
  margin-bottom: 0;
}
