:root {
  /* Make some constants and calculate the others from them. */
  --fs-grid--width: 90vw;
  --fs-grid--padding: calc((100vw - var(--fs-grid--width)) / 2);
  --fs-grid--column-quantity: 12;
  --fs-grid--column-width: calc(var(--fs-grid--width) / var(--fs-grid--column-quantity));
  --fs-grid--column-gap: 4vw;

  @media (--fs-viewport--sm) {
    --fs-grid--column-gap: 3vw;
  }

  @media (--fs-viewport--md) {
    --fs-grid--width: 80vw;
    --fs-grid--column-gap: 2vw;
  }

  @media (--fs-viewport--xxl) {
    --fs-grid--width: 60vw;
  }
}
